# Python bytecode
*.pyc

# Logs
*.log

# Virtualenv
venv/

# Build
build/
dist/
__pycache__/

# IDE
.vscode/
.idea/

#Django
# Ignore all migration files except for the migrations folder and __init__.py
**/migrations/*
!**/migrations/__init__.py

# database
db.sqlite3
